/* 雷达图组件样式 */
.h5_component_radar{
    font-family: "Microsoft YaHei"
}

.h5_component_radar canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;/*压缩到原始大小的一半*/
}

.h5_component_radar .text{
    position: absolute;
    font-size: 12px;
}